* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(123, 194, 176);
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-section {
  border: 2px solid black;
  padding: 5px;
  border-radius: 4px;
}
.box {
  font-size: xx-large;
  height: 90px;
  width: 90px;
  background-color: rgb(0, 19, 19);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 1px 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
}
